*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  



}



.App {
text-align: center;

}


@keyframes bg-animation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
