.containerLi {
    display: inline-block;
    margin: 8px;
    justify-content: space-around;
  }
  
  .paginadoLi {
    display: inline-block;
   
    border-radius: 5px;
    padding: 2px 7px;
    white-space: nowrap;
  }
  
  .paginadoLink {
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin: 8px;
    background-color: #9F7FC2;
    width: 2rem;
    border-radius: 2rem;
    transition: 0.5s;
    color:black
  }

  .paginadoLink:hover {
   

    color:#fff

    
  }
  
 
  
  .liNextPrev button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 8px;
    background-color:  #adb5bd ;
    color: white;
    padding: 3px;
    text-shadow: 2px 1px 1px black;
    width: 3rem;
  }
  
  .liNextPrev:hover {
   
    background-color: #0760B4,
  
  }



  ul {
    list-style: none;
    white-space: nowrap;
  }
  
  li {
    display: inline-block;
    white-space: nowrap;
  }

li button:hover{
background-color: #0760B4;
}